@tailwind base;
@tailwind components;
@tailwind utilities;

#main-page {
  background:
    radial-gradient(
      circle 1000px at 40% 1200px,
      rgba(255, 88, 162, 0.2) 0,
      transparent 90%
    ),
    radial-gradient(
      circle 1200px at 55% 1200px,
      rgba(22, 125, 255, 0.5) 0,
      transparent 90%
    ),
    url("data:image/svg+xml,%3Csvg width='2418' height='2639' viewBox='0 0 2418 2639' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg filter='url(%23filter0_f_1216_215236)'%3E %3Cellipse cx='1208.84' cy='1319.42' rx='360.5' ry='547' transform='rotate(-26.526 1208.84 1319.42)' fill='%233574F0'/%3E %3C/g%3E %3Cdefs%3E %3Cfilter id='filter0_f_1216_215236' x='0.200195' y='0.0598145' width='2417.29' height='2638.72' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E %3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E %3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E %3CfeGaussianBlur stdDeviation='402' result='effect1_foregroundBlur_1216_215236'/%3E %3C/filter%3E %3C/defs%3E %3C/svg%3E")
      no-repeat 50% 0,
    url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' fill='none' height='1551' viewBox='0 0 2206 1551' width='2206' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse' height='1351.63' width='1652.86' x='.466797' y='55.1213'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1216_215238' stdDeviation='250'/%3E%3C/filter%3E%3Cfilter id='b' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse' height='1549.97' width='2065.77' x='139.88' y='.875'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1216_215238' stdDeviation='250'/%3E%3C/filter%3E%3Cg filter='url(%23a)'%3E%3Cellipse cx='252.768' cy='271.21' fill='%23ff58a2' rx='252.768' ry='271.21' transform='matrix(.790013 .61309 -.952057 .305919 885.415 493)'/%3E%3C/g%3E%3Cg filter='url(%23b)'%3E%3Cellipse cx='499.705' cy='331.244' fill='%23167dff' rx='499.705' ry='331.244' transform='matrix(1 0 -.557532 .830155 857.738 500.875)'/%3E%3C/g%3E%3C/svg%3E")
      no-repeat 50% 3600px,
    radial-gradient(
      circle 1000px at 30% 6000px,
      rgba(255, 88, 162, 0.2) 0,
      transparent 90%
    ),
    radial-gradient(
      circle 1200px at 55% 6000px,
      rgba(22, 125, 255, 0.5) 0,
      transparent 90%
    ),
    radial-gradient(
      circle 500px at 70% 8200px,
      rgba(255, 88, 162, 0.2) 0,
      transparent 90%
    ),
    radial-gradient(
      circle 800px at 70% 7700px,
      rgba(22, 125, 255, 0.5) 0,
      transparent 90%
    );
  @apply bg-black text-white;
}

body {
  @apply bg-black text-white overflow-y-scroll;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-white bg-opacity-20;
}

::-webkit-scrollbar-thumb {
  @apply bg-white bg-opacity-30 rounded-xl;
}

#Document h1 {
  @apply text-5xl my-5;
}

#Document h2 {
  @apply text-4xl my-5;
}

#Document h3 {
  @apply text-3xl my-5;
}

#Document h4 {
  @apply text-2xl my-5;
}

#Document h5 {
  @apply text-xl my-5;
}

#Document h5 {
  @apply text-lg my-5;
}

#Document a {
  @apply text-blue-700 hover:underline;
}
